.App {
  height: auto;
  width: 100vw;
  background-image: url(../images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}


body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(0, 203, 253); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 203, 253); 
}

h1 {
  font-size: 27px;
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}
a{
  text-decoration: none;
}

#page1 {
  width: 100vw;
  height: 100vh;
}
#page2 {
  width: 100vw;
  height: 100vh;
  padding-top: 4%;
}
#page3 {
  width: 100vw;
  height: 100vh;
  padding-top: 4%;
}
#page4 {
  width: 100vw;
  height: 90vh;
}

.nav{
  position: absolute;
  z-index: 100;
}

.backgroundNav {
  width: 100vw;
  height: 10vh;
  background-color: rgb(0,2,1);
  position: fixed;
}

.navBar {
  width: 14vw;
  position: fixed;
  height: 92vh;
  top: 8vh;
  margin: 0 0 0 86vw;
  background-color: rgb(0,2,1);
  transform: translateX(100%);
  transition: transform 0.4s ease-in;
  display: flex;
  flex-direction: column;
}

.navItem{
  color:white;
  margin: 0 auto 10% auto;
  font-family: 'Abel', sans-serif;
  font-size: 35px;
  font-weight: 300;
  transform: translateX(250%);
  transition: transform 0.5s ease-in;
  cursor: pointer;
}

.navItem:hover{
  color:rgb(0, 203, 253);
  transition: 0.7s;
}

#navItem1{
  margin: 30% auto 10% auto;
}

.navSlide{
  transform: translateX(0);
}

.header {
  display: grid;
  position: fixed;
  grid-template-columns:  1fr 1fr;
  width: 100vw;
}

.pageHeader {
  margin: 4% 0 0 7%;
  margin-right: 0;
  color: rgb(0, 203, 253);
  font-family: "Audiowide", sans-serif;
  font-weight: 300;
  width: fit-content;
  height: fit-content;
}

.menu {
  margin: 6% 9.8% 0 20vw;
  justify-self: end;
  transform: rotate(90deg);
  transition: transform 0.3s ease-in;
  cursor: pointer;
}

.nav-active{
  transform: translateX(0);
}

.menuHeader {
  text-align: end;
  color: rgb(0, 203, 253);
  font-weight: 300;
  font-family: "Audiowide", cursive;
  margin: 0 0 0 0;
}

.menuRotate{
  transform: rotate(0deg);
}

.menuCircle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid rgb(0, 203, 253);
  margin: 0 0 0 0;
}

#upIcon {
  width: fit-content;
  color: rgb(0, 203, 253);
  font-size: 100px;
  transform: scaleX(1.3);
  margin: auto auto auto 47.2%;
  cursor: pointer;
}

#downIcon {
  width: fit-content;
  color: rgb(0, 203, 253);
  font-size: 100px;
  transform: scaleX(1.3);
  margin: 7% auto 0 47.2%;
  cursor: pointer;
}

#prevPage {
  margin: 0 0 0 0;
  justify-self: center;
}
